# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.local
.env.development
.env.production

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Laravel
/api/vendor/
/api/node_modules/
/api/.env
/api/storage/*.key
/api/storage/app/*
!/api/storage/app/.gitignore
/api/storage/framework/cache/*
!/api/storage/framework/cache/.gitignore
/api/storage/framework/sessions/*
!/api/storage/framework/sessions/.gitignore
/api/storage/framework/testing/*
!/api/storage/framework/testing/.gitignore
/api/storage/framework/views/*
!/api/storage/framework/views/.gitignore
/api/storage/logs/*
!/api/storage/logs/.gitignore
/api/bootstrap/cache/*
!/api/bootstrap/cache/.gitignore
/api/.phpunit.result.cache
/api/auth.json
